@import './utils.scss';

#funk-slider{
  height: auto;
  width: 50%;

  border-radius: 50px;
  border: 1.5px solid $DM-2-hex;
  background-color: darken($DM-2-hex, 30);
}

.funk-on{
  @include board-button;

  #funk-slider{
    transform: translateX(75%);
  }
}

.funk-off{
  @include board-button;
  background-color: $DM-3-hex;
  #funk-slider{
    justify-content: flex-start;
  }
}

label{
  display: inline-flex;
  margin-right: 5px;
  font-weight: 900;
}
