@import './utils.scss';

#power-slider{
  height: auto;
  width: 50%;

  border-radius: 50px;
  border: 1.5px solid $DM-1-hex;
  background-color: $DM-5-hex;
}

.power-on{
  @include board-button;
    width: 3em;

  #power-slider{
    transform: translateX(85%);
  }
}

.power-off{
  @include board-button;
width: 3em;

  #power-slider{
    justify-content: flex-start;
  }
}

label{
  display: inline-flex;
  font-size: 1.5em;
  font-weight: 900;
}
