$mainFont:  'Chakra Petch', sans-serif;

/* Color Theme Swatches in Hex */
$DM-1-hex: #D9525E;
$DM-2-hex: #0540F2;
$DM-3-hex: #2D734B;
$DM-4-hex: #D9AA1E;
$DM-5-hex: #BF2C1F;

/* Color Theme Swatches in RGBA */
$DM-1-rgba: rgba(216,82,93, 1);
$DM-2-rgba: rgba(4,64,242, 1);
$DM-3-rgba: rgba(44,114,75, 1);
$DM-4-rgba: rgba(216,170,30, 1);
$DM-5-rgba: rgba(191,43,30, 1);

/* Color Theme Swatches in HSLA */
$DM-1-hsla: hsla(354, 63, 58, 1);
$DM-2-hsla: hsla(225, 96, 48, 1);
$DM-3-hsla: hsla(146, 43, 31, 1);
$DM-4-hsla: hsla(45, 75, 48, 1);
$DM-5-hsla: hsla(5, 72, 43, 1);

@mixin fontBase{
  font-family: $mainFont;

}

@mixin padButton{
  width: 90%;
  height: 90%;

  background-color: $DM-2-hex;
  border: 2px solid $DM-4-hex;
  border-radius: 5px;
}

@mixin images{
  width: 30%;
  height: auto;
}

@mixin board-button{
  height: 1.5em;
  width: 2.5em;
  background-color: darken($DM-1-hex, 30);
  display: flex;
  flex-direction: row;
  grid-area: "power";
  margin-left: 5px;
  border-radius: 20px;
}
